/*? Default*/

:root {
  --bg-color:#000000;
  --form-bg-color:#393d44;
  --top-bg-color:#181921;
  --text-color:#FFFFFFA1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
/** Container:*/

.form-container {
  width: 20em;
  height: 25em;
  border-radius: 0 0 .75em .75em;
  background-color: var(--form-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 3px 7px 5px rgba(255, 255, 255, 0.116);
}

/** Container | CHILDS*/

.top-bar {
  width: 100%;
  border-radius: .75em .75em 0 0;
  background-color: var(--top-bg-color);
  height: 3em;
}

.top {
 
  width: 90%;
  flex-basis: 70%;
  background-color: var(--form-bg-color);
  height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 0.5em;
}

.bottom {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--form-bg-color);
  height: 1em;
}

/*? Form Items*/

.top > .box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.top > .box > label {
  font-size: 1.25em;
  letter-spacing: .25px;
  text-align: start;
  padding-left: .25em;
  color: var(--text-color);
  font-family: 'serif';
  font-style: italic;
}

.top > .box > input {
  display: flex;
  text-align: start;

  background-color: rgb(8, 8, 8);
  border: solid 1px rgba(0, 0, 0, 0.171);
  border-radius: .25em;
  padding: 5em 0 5em 0;
  color: #fff;
}

.bottom > button {
  border: none;
  width: 90%;
  height: 50%;
  border-radius: 0.25em;
  cursor: pointer;
}

.bottom > button:hover {
  background-color: red;
}

