/*? Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
/** Container:*/

.form-container {
  width: 20em;
  height: 25em;
  border-radius: 0 0 .75em .75em;
  background-color: rgb(55, 56, 58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 3px 7px 5px rgba(255, 255, 255, 0.116);
}

/** Container | CHILDS*/

.top-bar {
  width: 100%;
  border-radius: .75em .75em 0 0;
  background-color: rgb(13, 13, 17);
  height: 2.5em;
}

.top {
  width: 90%;
  flex-basis: 75%;
  background-color: rgb(71, 72, 78);
  height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 0.5em;
}

.bottom {
  width: 90%;
  flex-grow: 1;
  background-color: blue;
  height: 1em;

}

/*? Form Items*/

.top > .box {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.top > .box > label {
  font-size: 1.25em;
  letter-spacing: .5px;
  text-align: center;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top > .box > input {
  background-color: rgb(109, 145, 221);
  border: solid 1px rgba(0, 0, 0, 0.171);
}

